.filterButton {
  position: fixed;
  top: 7.25rem;
  left: -15px;
  background-color: var(--color_background_light);
  color: var(--color_text-dark);
  border: none;
  height: 50px;
  width: calc(100% + 30px);
  font-size: 18px;
  z-index: 2;
  cursor: pointer;

  i {
    margin-right: 10px;
  }

  @media (min-width: 992px) {
    display: none;
  }

  &.open {
    background-color: var(--color_background_light);
    text-align: left;
    padding-left: 15px;
    left: 0;
  }
}