/**
 * Nunito Sans Variable Font Family
 * Weights: 200-1000 (variable)
 * Styles: normal, italic
 */

/* Nunito Sans Variable - Normal */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url("nunito-sans/NunitoSans-Variable.ttf") format("truetype");
}

/* Nunito Sans Variable - Italic */
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 200 1000;
  font-display: swap;
  src: url("nunito-sans/NunitoSans-Italic-Variable.ttf") format("truetype");
}
