/**
 * Nunito Sans Font Family - Version 18
 * Weights: 200, 300, 400, 500, 600, 700, 800, 900
 * Styles: normal, italic
 */

/* nunito-sans-200 - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-200.woff2") format("woff2");
}

/* nunito-sans-200italic - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-200italic.woff2") format("woff2");
}

/* nunito-sans-300 - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-300.woff2") format("woff2");
}

/* nunito-sans-300italic - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-300italic.woff2") format("woff2");
}

/* nunito-sans-400 - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-400.woff2") format("woff2");
}

/* nunito-sans-400italic - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-400italic.woff2") format("woff2");
}

/* nunito-sans-500 - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-500.woff2") format("woff2");
}

/* nunito-sans-500italic - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-500italic.woff2") format("woff2");
}

/* nunito-sans-600 - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-600.woff2") format("woff2");
}

/* nunito-sans-600italic - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-600italic.woff2") format("woff2");
}

/* nunito-sans-700 - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-700.woff2") format("woff2");
}

/* nunito-sans-700italic - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-700italic.woff2") format("woff2");
}

/* nunito-sans-800 - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-800.woff2") format("woff2");
}

/* nunito-sans-800italic - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-800italic.woff2") format("woff2");
}

/* nunito-sans-900 - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-900.woff2") format("woff2");
}

/* nunito-sans-900italic - latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("nunito-sans/nunito-sans-v18-latin-900italic.woff2") format("woff2");
}