@charset "utf-8";
@import "bulma/sass/utilities/_all.sass";
@import 'colors.scss';
@import "fonts";

$footer-background-color: var(--color_primary) !important;
$footer-color: var(--color_text_light) !important;
$footer-padding: 2rem !important;

$font-family-base: var(--font_family);
$family-sans-serif: var(--font_family);

@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/modal.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/layout/_all.sass";