$color_accent: #ff5e32;
$color_alerts: #ff0000;
$color_background_light: #ffffff;
$color_background_dark: #000000;
$color_button_background_color: #ffffff;
$color_button_color: #000000;
$color_gray_lighter: #f2f2f2;
$color_gray_light: #dfdfdf;
$color_gray_dark: #999999;
$color_gray_darker: #4a4a4a;
$color_horizontal_rule_light: #e5e5e5;
$color_horizontal_rule_dark: #7b7b7b;
$color_icon_light: #ffffff;
$color_input_background_color_light: #ffffff;
$color_input_background_color_dark: #181a1b;
$color_input_border_color_light: #dbdbdb;
$color_input_border_color_dark: #3a3f41;
$color_input_text_color_light: #363636;
$color_input_text_color_dark: #ffffff;
$color_input_text_color_disabled_light: #ffffff;
$color_input_text_color_disabled_dark: #ffffff;
$color_primary: #6d6e71;
$color_primary_contrast: #f1f2f2;
$color_secondary: #00cec4;
$color_secondary_contrast: #ff5e32;
$color_text_light: #ffffff;
$color_text_med: #828282;
$color_text_dark: #333333;
$color_text_input_hints_light: #7b7b7b;
$color_text_input_hints_dark: #7b7b7b;
$color_text_input_hints: #c4c4c4;

:root {
  --color_primary: #{$color_primary};
  --color_primary_contrast: #{$color_primary_contrast};
  --color_secondary: #{$color_secondary};
  --color_secondary_contrast: #{$color_secondary_contrast};
  --color_text_dark: #{$color_text_dark};
  --color_text_med: #{$color_text_med};
  --color_text_light: #{$color_text_light};
  --color_background_light: #{$color_background_light};
  --color_background_dark: #{$color_background_dark};
  --color_gray_darker: #{$color_gray_darker};
  --color_gray_dark: #{$color_gray_dark};
  --color_gray_light: #{$color_gray_light};
  --color_gray_lighter: #{$color_gray_lighter};
  --color_input_text_color: #{$color_input_text_color_light};
  --color_input_background_color: #{$color_input_background_color_light};
  --color_input_border_color: #{$color_input_border_color_light};
  --color_text_input_hints: #{$color_text_input_hints_light};
  --color_horizontal_rule: #{$color_horizontal_rule_light};
  --color_icon_light: #{$color_icon_light};
  --color_button_background_color: #{$color_button_background_color};
  --color_button_color: #{$color_button_color};
  --color_alerts: #{$color_alerts};
}
html[data-theme="DARK"] {
  --color_text_dark: #{$color_text_light} !important;
  --color_text_light: #{$color_text_dark} !important;
  --color_background_light: #{$color_background_dark} !important;
  --color_background_dark: #{$color_background_light} !important;
  --color_gray_darker: #{$color_gray_lighter} !important;
  --color_gray_dark: #{$color_gray_light} !important;
  --color_gray_light: #{$color_gray_dark} !important;
  --color_gray_lighter: #{$color_gray_darker} !important;
  --color_input_text_color: #{$color_input_text_color_dark} !important;
  --color_input_background_color: #{$color_input_background_color_dark} !important;
  --color_input_border_color: #{$color_input_border_color_dark} !important;
  --color_text_input_hints: #{$color_text_input_hints_dark} !important;
  --color_horizontal_rule: #{$color_horizontal_rule_dark} !important;
}