$color_primary : #6d6e71;
$color_primary_contrast : #f1f2f2;
$color_secondary : #00CEC4;
$color_secondary_contrast : #ff5e32;
$color_accent : #ff5e32;
$color_background_light: #ffffff;
$color_background_dark: #000000;
$color_text_dark : #333333;
$color_text_med : #828282;
$color_text_light : #ffffff;
$color_gray_darker : #4A4A4A;
$color_gray_dark : #999999;
$color_gray_light : #DFDFDF;
$color_gray_lighter : #F2F2F2;
$color_text_input_hints : #c4c4c4;
$color_input_text_color_light: #363636;
$color_input_background_color_light:#fff;
$color_input_border_color_light:#dbdbdb;
$color_input_text_color_dark: #FFFFFF;
$color_input_background_color_dark:rgb(24, 26, 27);
$color_input_border_color_dark:rgb(58, 63, 65);

:root {
  --color_primary: #{$color_primary};
  --color_primary_contrast: #{$color_primary_contrast};
  --color_secondary: #{$color_secondary};
  --color_secondary_contrast: #{$color_secondary_contrast};
  --color_text_dark: #{$color_text_dark};
  --color_text_med: #{$color_text_med};
  --color_text_light: #{$color_text_light};
  --color_background_light: #{$color_background_light};
  --color_background_dark: #{$color_background_dark};
  --color_gray_darker: #{$color_gray_darker};
  --color_gray_dark: #{$color_gray_dark};
  --color_gray_light: #{$color_gray_light};
  --color_gray_lighter: #{$color_gray_lighter};
  --color_input_text_color: #{$color_input_text_color_light};
  --color_input_background_color: #{$color_input_background_color_light};
  --color_input_border_color: #{$color_input_border_color_light};
}

html[data-theme="DARK"] {
  --color_text_dark: #{$color_text_light} !important;
  --color_text_light: #{$color_text_dark} !important;
  --color_background_light: #{$color_background_dark} !important;
  --color_background_dark: #{$color_background_light} !important;
  --color_gray_darker: #{$color_gray_lighter} !important;
  --color_gray_dark: #{$color_gray_light} !important;
  --color_gray_light: #{$color_gray_dark} !important;
  --color_gray_lighter: #{$color_gray_darker} !important;
  --color_input_text_color: #{$color_input_text_color_dark} !important;
  --color_input_background_color: #{$color_input_background_color_dark} !important;
  --color_input_border_color: #{$color_input_border_color_dark} !important;
}