@import "colors.scss";

.hero-container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 102px;
  color: var(--color_text_dark);
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 32px;
  color: var(--color_text_dark);
  text-align: center;
  max-width: 800px;
  margin: auto;
}

@media (max-width: 600px) {
  .hero-container {
    height: 200px;
  }

  .title {
    font-size: 80px;
  }

  .subtitle {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .hero-container {
    height: 220px;
  }

  .title {
    font-size: 60px;
  }

  .subtitle {
    font-size: 20px;
  }
}