@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/form/_all.sass";

@import "colors.scss";

.extraQuestionsAttendeeWarning {
  padding: 2rem 6rem;
  font-weight: bold;  
}

.extraQuestionsContainer {

  h2, h1, h3{
    color: var(--color_text_dark) !important;
  }

  .extra-question {
    label {
      font-weight: 600;

      b {
        color: red;
      }
    }

    [id^=rl_wrapper] div {
      padding-top: 5px;

      & ~ div {
        padding-top: 10px;
      }
    }

    textarea {
      width: 100%;
      resize: none;
    }

    input[type="checkbox"] {
      margin-right: 3px;

      & ~ label {
        padding-left: 13px !important;
        color: var(--color_input_text_color) !important;
      }
    }

    h4 {
      font-weight: 400;
      font-size: 1em !important;
      line-height: 1;
      padding-top: 4px;
      margin-bottom: 0px;
      color: var(--color_input_text_color) !important;
    }    
  }
  .disclaimer {
    display: grid;
    gap: 15px;
    grid-template-columns: 0fr 14fr;
    grid-template-rows: 1fr;
    align-items: start;
    .input-wrapper {
      width: 35px;
    }
    label {
      position: absolute;
    }
    input[type=checkbox] ~ label {
      padding-left: 10px !important;
    }
  }
}

.error-label {
  color: red;
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin: auto 0;
  padding: 0;
  grid-column: span 2;
  &::before {
    content: "\f071";
    font-family: FontAwesome;
    padding-right: 5px;
  }
}

.button-save {
  float: right;
  margin-top: 20px;
  color: var(--color_button_color) !important;
  background-color: var(--color_button_background_color) !important;
  border-color: var(--color_input_border_color) !important;
}

.mandatoryDisclaimer::after {
  content: "*";
  position: relative;
  bottom: 2px;
  left: 20px;
  color: red;
  font-size: 1em;
  font-weight: 700;
}