/**
* Warning:
* Dont edit this file by hand, this file is used as default font implementation for the whole site
* and it been re generated if font settings are set through CMS on gatsby-node.js line # 346
**/

$font-family: 'Nunito Sans', sans-serif;

:root {
  --font_family: #{$font-family};
}

%font-regular {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

%font-semi {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

%font-bold {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}