$font-family: "Builder";

:root {
  --font_family: "Builder" !important;
}

@font-face {
  font-family: "Builder";
  src: url("/fonts/Roblox/RobloxBETA-Regular-v1.007.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Builder";
  src: url("/fonts/Roblox/RobloxDisplayBETA-Bold-v1.003.otf") format("opentype");
  font-weight: bold;
}
  
%font-regular {
  font-family: var(--font_family);
  font-weight: 400;
}

%font-semi {
  font-family: var(--font_family);
  font-weight: 600;
}

%font-bold {
  font-family: var(--font_family);
  font-weight: 700;
}