$font-family: "BuilderExtended";

:root {
  --font_family: "BuilderExtended" !important;
}

@font-face {
  font-family: "BuilderExtended";
  src: url("/fonts/buildersans-regular.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "BuilderExtended";
  src: url("/fonts/builderextended-semibold.woff") format("woff");
  font-weight: bold;
}
  
%font-regular {
  font-family: var(--font_family);
  font-weight: 400;
}

%font-semi {
  font-family: var(--font_family);
  font-weight: 600;
}

%font-bold {
  font-family: var(--font_family);
  font-weight: 700;
}