$font-family: "proximanova";

:root {
  --font_family: "proximanova" !important;
}

@font-face {
  font-family: "proximanova";
  src: url("/fonts/proximanovaregular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "proximanova";
  src: url("/fonts/proximanovabold.otf") format("opentype");
  font-weight: bold;
}
  
%font-regular {
  font-family: var(--font_family);
  font-weight: 400;
}

%font-semi {
  font-family: var(--font_family);
  font-weight: 600;
}

%font-bold {
  font-family: var(--font_family);
  font-weight: 700;
}