
  $font-family: "Builder Sans";

  :root {
    --font_family: "Builder Sans" !important;
  }

  // Adding these new fonts for this theme
  @font-face {
        font-family: "Builder Sans";
        src: url("/fonts/robloxbeta-regular-v1.007.otf") format('opentype');
        font-weight: normal;
    }

  @font-face {
        font-family: "Builder Sans";
        src: url("/fonts/robloxdisplaybeta-bold-v1.003.otf") format('opentype');
        font-weight: bold;
    }
  
  %font-regular {
    font-family: "Builder Sans";
    font-weight: 400;
  }

  %font-semi {
    font-family: "Builder Sans";
    font-weight: 600;
  }

  %font-bold {
    font-family: "Builder Sans";
    font-weight: 700;
  }
 