@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/form/_all.sass";
@import 'colors.scss';

.full-profile {
    align-items: flex-start;

    >div {
        &:not(:nth-of-type(2)) {
            border: 1px solid #d3d3d3;
            padding: 10px 20px;
        }

        &:nth-of-type(2) {
            padding: 0;
        }

        &:not(:first-of-type) {
            margin-left: 20px;
        }
    }

    .profile-picture {
        display: flex;
        justify-content: center;
        margin-top: 28px;
        position: relative;

        img {
            cursor: pointer;
            height: 200px;
            width: 200px;
            border-radius: 10px;
        }
    }

    .image-upload {
        position: absolute;
        bottom: 10px;
        right: 10px;

        .picture-icon {
            color: #ffffff;
            z-index: 10;
            cursor: pointer;
        }
    }

    .form-container {
        border: 1px solid #d3d3d3;
        padding: 10px 20px;

        &:not(:first-of-type) {
            margin-top: 20px;
        }

        .header {
            font-size: 18px;
            line-height: 22px;
            color: var(--color_text_dark);
            font-weight: bold;
            margin: 0 -20px;
            padding: 0 15px 10px;
            width: calc(100% + 40px);
            border-bottom: 1px solid #d3d3d3;
        }

        .form {
            .input-row {
                margin: 15px 0;

                .input-field {
                    display: flex;
                    flex-direction: column;

                    b {
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 5px;
                    }

                    .textarea {
                        font-size: 16px;
                    }

                    .select {
                        display: flex;

                        select {
                            width: 100%;
                        }
                    }

                    .dropdown {

                        >div {
                            width: 100%;
                            color: var(--color_input_text_color) !important;
                            background-color: var(--color_input_background_color) !important;
                            border-color: var(--color_input_border_color) !important;
                            > div > div {
                                color:inherit;;
                            }
                        }
                    }
                }
            }
        }

        .checkbox {
            input[type=checkbox] {
                margin: -3px 8px 0px;
                vertical-align: middle;
            }
            &:hover {
                color: var(--color_text_dark);
            }
        }

        .buttons {
            margin: 15px 0;

            div {
                button {
                    width: 100%;
                    height: 5.5rem;
                    color: var(--color_input_text_color) !important;
                    background-color: var(--color_input_background_color) !important;
                    border-color: var(--color_input_border_color) !important;
                }

            }
        }
    }
}

@media (max-width: 768px) {
    .full-profile {
        align-items: flex-start;

        >div {
            &:not(:nth-of-type(2)) {
                border: 1px solid #d3d3d3;
                padding: 10px 20px;
            }

            &:nth-of-type(2) {
                padding: 0;
            }

            &:not(:first-of-type) {
                margin-top: 20px;
                margin-left: 0px;
            }
        }

        .image-upload {
            position: absolute;
            top: 9.3%;
            left: 47%;
        }
    }
}