@import "fonts";
@import "colors";

%button-big {
  border-radius: 4px;
  height: 56px;
  color: var(--color_text_light);
  background-color: var(--color_secondary);
  font-size: 15px;

  @extend %font-regular;
}

%title-huge {
  font-size: 46px;
  line-height: 46px;
  color: var(--color_text_dark);

  @extend %font-bold;
}

%title-big {
  font-size: 32px;
  line-height: 32px;
  color: var(--color_text_dark);

  @extend %font-bold;
}

%title {
  font-size: 28px;
  line-height: 28px;
  color: var(--color_text_dark);

  @extend %font-semi;
}

%title-med {
  font-size: 24px;
  line-height: 24px;
  color: var(--color_text_dark);

  @extend %font-bold;
}

%title-small {
  font-size: 18px;
  color: var(--color_text_dark);

  @extend %font-bold;
}

%title-tiny {
  font-size: 14px;
  color: var(--color_text_dark);

  @extend %font-semi;
}

%text-big {
  font-size: 20px;
  line-height: 24px;
  color: var(--color_text_dark);

  @extend %font-semi;
}

%text-med {
  font-size: 15px;
  line-height: 20px;
  color: var(--color_text_dark);

  @extend %font-regular;
}

%text-small {
  font-size: 14px;
  line-height: 16px;
  color: $color_text_med;

  @extend %font-regular;
}

%text-tiny {
  font-size: 12px;
  line-height: 16px;
  color: var(--color_text_med);

  @extend %font-regular;
}

%button-small-primary {
  border-radius: 4px;
  height: 39px;
  color: var(--color_text_light);
  background-color: var(--color_secondary);
  font-size: 15px;

  @extend %font-regular;
}

%button-small-secondary {
  border-radius: 4px;
  height: 39px;
  color: var(--color_text_med);
  background-color: var(--color_gray_light);
  font-size: 15px;

  @extend %font-regular;
}

%button-small-outline {
  border-radius: 4px;
  height: 39px;
  background-color: white;
  font-size: 15px;
  border: 1px solid var(--color_gray_dark);
  color: var(--color_text_dark);


  @extend %font-regular;
}

%button-toggle {
  border-radius: 4px;
  height: 39px;
  background-color: white;
  font-size: 15px;
  border: 1px solid var(--color_gray_light);
  color: var(--color_text_dark);


  @extend %font-regular;
}

%body_theme {
  /********************************************************/
  /*                  base mode rules                     */
  /********************************************************/

  background-color: var(--color_background_light) !important;
  color: var(--color_text_dark) !important;

  input, select, textarea {
    color: var(--color_input_text_color) !important;
    background-color: var(--color_input_background_color) !important;
    border-color: var(--color_input_border_color) !important;
    &::placeholder{
      color: var(--color_input_text_color) !important;
    }
  }

  .ajax-loader-container {
    .fa-spinner{
      color:var(--color_input_text_color) !important;
    }
  }

  .rdtPicker{
    background-color: var(--color_input_background_color);
    color: var(--color_input_text_color);
    .rdtDays{
      table th{
        color: var(--color_input_text_color);
        text-align: center;
      }
    }
  }

  .registration_company_dll_prefix, .ddl-extra-questions {
    &__single-value{
      color: var(--color_input_text_color) !important;
    }
    &__control{
      background-color: var(--color_input_background_color) !important;;
      color: var(--color_input_text_color) !important;
      border-color: var(--color_input_border_color) !important;
    }
    &__menu{
      background-color: var(--color_input_background_color) !important;;
      color: var(--color_input_text_color) !important;
      border-color: var(--color_input_border_color) !important;
    }
    &__option:hover {
      background-color: var(--color_background_dark) !important;;
      color: var(--color_text_light) !important
    }
    &__option:focus {
      background-color: var(--color_background_dark) !important;;
      color: var(--color_text_light) !important
    }
    &__option:not(:hover) {
      background-color: var(--color_background_light) !important;;
      color: var(--color_text_dark) !important
    }
  }

  /********************************************************/
  /*            end of base mode rules                    */
  /********************************************************/
}

%body_base {
  margin: 0;
  padding: 0;
  height: 100%;
  @extend %body_theme
}

%body_fonts{
  font-family: var(--font_family) !important;
  h1, h2, h3, h4, h5, p, b, span, div, a {
    font-family: var(--font_family) !important;
  }
}