@import "colors.scss";

.container {
  position: inherit;

  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;

    h1 {
      margin-top: 40px;
    }

    div {
      margin-top: 10px;
    }

    button {
      margin-top: 40px;
    }
  }
}
