
.leftColumn {
  overflow-y: auto;
}

.rightColumn {
  .imageSlider {
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100%;
    overflow: hidden;
  }
}
