.mainColumn {
}

.masonry {
  .grid {
    display: flex;
    overflow: hidden;
  }
  .slider {
    margin-bottom: -5px;
  }

  .masonryWrapper {
    display: inline-block;
    width: 100%;
    font-size: 0;
    transform: scale(1.004);
    .masonryImage {
      width: 100%;
      object-fit: cover;
    }
  }
}
